<p>home works!</p>
<h1>{{title}}</h1>

<div *ngIf="!selected">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
      <th>Id</th>
      <th>Category</th>
      <th>Variance</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tr *ngFor="let budget of budgets">
  <td (click)="displayBudget(budget); selected = budget">{{budget.id}}</td>
  <td>{{budget.category}}</td>
  <td><input (change)="updateCompleted(budget); selected = null" type="checkbox" name="variance" [(ngModel)]="budget.variance" /></td>
  <td>{{budget.variance}}</td>
  <td><button class="btn btn-danger"  (click)="deleteBudget(budget.id)">X</button></td>
</tr>
</table>
<form *ngIf="!selected">
Category: <input type="text" name="category" [(ngModel)]="newBudget.category"><br>
Description: <input type="text" name="description" [(ngModel)]="newBudget.description"><br>
Amount: <input type="number" name="amount" [(ngModel)]="newBudget.amount"><br>
<button (click)="addBudget()">Add Budget</button>
</form>
</div>

<div *ngIf="selected && !editBudget" >
  <h2>Id: {{selected.id}}</h2>
  <h3>Category: {{selected.category}}</h3>
  <h3>Description: {{selected.description}}</h3>
<h3>Amount: {{selected.amount}}</h3>
<h3>Variance: {{selected.variance}}</h3>

  <button (click)="displayTable()">Back</button>
  <button (click)="setEditBudget()">Edit</button>
</div>

<form  *ngIf="editBudget">
 <label>Category: </label> <input type="text" name="category" [(ngModel)]="editBudget.category"> <br>
 <label>Description: </label> <input type="text" name="decription" [(ngModel)]="editBudget.description"> <br>
 <label>Amount: </label><input type="number" name="amount" [(ngModel)]="editBudget.amount" /> <br>

<button (click)="editBudget = null">Cancel</button>
<button (click)="updateBudget(editBudget)">Save</button>
</form>
